<nav class="d-flex flex-column p-3 border-end" style="width: 220px; height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        {{#login_user.isAdmin}}
        <li>
            <a href="/admin/pending" class="nav-link {{#isPendingApproval}}active{{/isPendingApproval}}">
                가입 승인 대기목록
            </a>
        </li>
        <li>
            <a href="/admin/vacation-request/list" class="nav-link {{#isRequestManage}}active{{/isRequestManage}}">
                휴가 신청 관리
            </a>
        </li>
        <li>
            <a href="/admin/statistics" class="nav-link {{#isStatistics}}active{{/isStatistics}}">
                휴가 통계
            </a>
        </li>
        <li>
            <a href="/admin/excel" class="nav-link {{#isExcelDownload}}active{{/isExcelDownload}}">
                휴가 엑셀 다운로드
            </a>
        </li>
        {{/login_user.isAdmin}}

        {{^login_user.isAdmin}}
        <li>
            <a href="/vacation-request/apply" class="nav-link {{#isVacationApply}}active{{/isVacationApply}}">
                휴가 신청
            </a>
        </li>
        <li>
            <a href="/vacation-request/me" class="nav-link {{#isVacationHistory}}active{{/isVacationHistory}}">
                휴가 신청내역 조회
            </a>
        </li>
        <li>
            <a href="/vacation/balance" class="nav-link {{#isVacationBalance}}active{{/isVacationBalance}}">
                휴가 잔여일수 확인
            </a>
        </li>
        <li>
            <a href="/vacation/calendar" class="nav-link {{#isVacationCalendar}}active{{/isVacationCalendar}}">
                휴가 캘린더
            </a>
        </li>
        {{/login_user.isAdmin}}
    </ul>
</nav>
