body, html {
    height: 100%;
}
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}
main.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}